/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Matter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 1 */
    line-height: 1.5;
    /* 2 */
  }

  body {
    @apply text-white bg-myGray tracking-wide
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold
  }
}